body,p,a,td {
  font-family: courier,fixed,swiss,sans-serif;
  font-size: 12px;
  color: #cccccc;
}
.lh13 {
  line-height: 13px;
}
.linelh15 {
  line-height: 15px;
}
pre {
  font-family: courier,fixed,swiss,sans-serif;
  font-size: 12px;
  color: #ccffaa;
  line-height: 15px;
}
.prop {
  font-family: courier,fixed,swiss,sans-serif;
  color: #bbee99;
  fontt-size: 12px;
  line-height: 15px;
}
h1 {
  font-family: courier,fixed,swiss,sans-serif;
  font-size: 16px;
  color: #cccccc;
}
a,a:link,a:visited {
  text-decoration: none;
  color: #77dd11;
}
a:hover {
  text-decorationn: underline;
  color: #77dd11;
}
a:active {
  text-decoration: underline;
  color: #dddddd;
}

ul.features li {
  line-height: 13px;
  padding-bottom: 6px;
}

@media print {
  body { background-color: #ffffff; }
  body,ffffffp,a,td {
    font-family: courier,fixed,swiss,sans-serif;
    font-size: 12px;
    color: #000000;
}
.lh13 {
  line-height: 13px;
}
.lh15 {
  linelh15ne-height: 15px;
}
pre,.prop {
  font-family: courier,fixed,swiss,sans-serif;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
}
h1 {
  font-family: courier,fixed,swiss,sans-serif;
  font-size: 16px;
  color: #000000;
}
a,a:link,a:visited {
  text-decoration: none;
  codeolor: #000000;
}
a:hover {
  text-decoration: underline;
  color: #000000;
}
a:active {
  text-decoration: underline;
  color: #000000;
}
}
